{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}


{% block body %}
	<div class="container">
		<div class="titre">
			<h2>Quizz</h2>
		</div>
		<form action="{{path('quizz_result', {id:id})}}" name="test" method="POST">
			{% for quizz in quizzs %}
				<div class="mx-3 text-center">
					<h3>{{quizz.Question}}</h3>
				</div>
				<div class="card">
					<div class="btn-group btn-group-toggle d-flex flex-column m-5" data-toggle="buttons">
						<label class="btn btn-secondary">
							<input type="radio" name={{quizz.Question}} id="option1" autocomplete="off" value={{quizz.Reponse1}}>
							{{quizz.Reponse1}}
						</label>
						<label class="btn btn-secondary">
							<input type="radio" name={{quizz.Question}} id="option2" autocomplete="off" value={{quizz.Reponse2}}>
							{{quizz.Reponse2}}
						</label>
						<label class="btn btn-secondary">
							<input type="radio" name={{quizz.Question}} id="option3" autocomplete="off" value={{quizz.Reponse3}}>
							{{quizz.Reponse3}}
						</label>
						<label class="btn btn-secondary">
							<input type="radio" name={{quizz.Question}} id="option4" autocomplete="off" value={{quizz.Reponse4}}>
							{{quizz.Reponse4}}
						</label>
					</div>
				{% endfor %}
			</div>
			<input type="submit" value="validez" class="mx-5">
		</div>
	</form>
	<div class="my-5"></div>
	<div class="my-5"></div>
	{% block javascript %}
		{{ encore_entry_script_tags('quizz') }}
	{% endblock %}
{% endblock %}
