{% extends 'base.html.twig' %}
{% block title %}Hello AdminController!
{% endblock %}
{% block body %}
	{{ form_start(form)}}
	{{form_row(form.uuid)}}
	<div class="mx-5">{{form_row(form.NomStand, {'attr': {'class': 'form-control'}})}}</div>
	<div class="mx-5">{{form_row(form.PositionX, {'attr': {'class': 'form-control'}})}}</div>
	<div class="mx-5">{{form_row(form.PositionY, {'attr': {'class': 'form-control'}})}}</div>
	<div class="mx-5">{{form_row(form.Type, {'attr': {'class': 'w-100 select-type'}})}}</div>
{% endblock %}
{% block navbar %}
 			<nav>
				<div class="nav-box">
					<ul class="nav-container">
						{% if is_granted('ROLE_ADMIN') %}
							<li class="nav__item">
								<a href="{{path('app_home')}}" class="nav__item-link">
									<div class="nav__item-icon">
										<i class="fa-solid fa-house"></i>
									</div>
									<span class="nav__item-text">Accueil</span>
								</a>
							</li>
							<li class="nav__item active">
								<a class="nav__item-link">
								
									<button class="nav__item-icon" type="submit">
										<i class="fa-solid fa-check"></i>
									</button>
									<span class="nav__item-text">Valider</span>
								</a>
							</li>
							{% endif %}
					</ul>
				</div>
			</nav>
	{{ form_end(form)}}
{% endblock %}
