{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!
{% endblock %}

{% block body %}
	<div class="card mx-5">
		<div class="text-center">
			<h1>Classement</h1>
		</div>
		<div class="table" id="tableli">
			<ul>
				{% for user in users %}
					<li>
						<div class="d-flex justify-content-between w-100 mx-5">
							<div class="nom">
								{{user.nom}}
								{{user.prenom}}</div>
							{% if user.classement != null %}
								<div class="score">{{user.classement}}pts
									<a href="#id{{user.id}}">
										<i class="fa-solid fa-ban"></i>
									</a>
								</div>
							{% else %}
								<div class="score">0pts
									<a href="#id{{user.id}}">
										<i class="fa-solid fa-ban"></i>
									</a>
								</div>
							{% endif %}
						</div>
					</li>
					<div id="id{{user.id}}" class="modal">
						<div class="modal-dialog">
							<div class="modal-content">
								<header class="container">
									<a href="#" class="closebtn">×</a>
									<h2>Alerte</h2>
								</header>
								<div class="container">
									<h4>
										voulez-vous bloquez Mme/Mr
										{{user.nom}}
										{{user.prenom}}
										?</h4>
								</div>
								<footer class="container py-2">
									<a href="{{path('app_block', {id:user.id})}}" id="w-change-close" type="button" class="btn btn-success px-2" data-dismiss="modal">OUI</a>
									<a href="{{path('app_admin')}}" id="w-change-close" type="button" class="btn btn-danger px-2" data-dismiss="modal">NON</a>
								</footer>
							</div>
						</div>
					</div>
				{% endfor %}
			</ul>
		</div>
	</div>
	<div class="d-flex justify-content-center pagination">{{ knp_pagination_render(users)}}</div>
{% endblock %}
{% block navbar %}
	<nav>
				<div class="nav-box">
					<ul class="nav-container">
						{% if is_granted('ROLE_ADMIN') %}
							<li class="nav__item">
								<a href="{{path('app_home')}}" class="nav__item-link">
									<div class="nav__item-icon">
										<i class="fa-solid fa-house"></i>
									</div>
									<span class="nav__item-text">Accueil</span>
								</a>
							</li>
							<li class="nav__item active">
								<a href="{{path('app_stand')}}" class="nav__item-link">
								
									<button class="nav__item-icon" type="submit">
										<i class="fa-solid fa-store"></i>
									</button>
									<span class="nav__item-text">Stand</span>
								</a>
							</li>
							{% endif %}
					</ul>
				</div>
			</nav>
{% endblock %}
