{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!
{% endblock %}
{% block body %}
	<div class="card mx-5">
		<div class="text-center">
			<h1 class="mt-5">Liste des questions</h1>
		</div>
		<div class="block_stand my-5">
			<div class="table" id="tableli">
				<ul>
					{% for quizz in quizzs %}
						<li>
							<div class="d-flex justify-content-between w-100 mx-5">
								<div class="nom">{{quizz.GRStand.nomstand}}/{{quizz.bonneReponse}}</div>
								<div class="score">
									<a href="{{path('app_quizz_modif', {id:quizz.id})}}">
										<i class="fa-solid fa-eye"></i>
									</a>
								</div>
							</div>
						</li>
					{% endfor %}
				</ul>
			</div>
		</div>
		<div class="d-flex justify-content-center pagination">{{ knp_pagination_render(quizzs)}}</div>
	</div>
{% endblock %}
{% block navbar %}
	<div class="menu-nav" id="nav">
		<nav class="navbar">
			<div class="navcont container-fluid d-flex justify-content-around">
				<a class="nav-link" href="{{path('app_quizz')}}">
					<i class="fa-regular fa-rectangle-list"></i>
				</a>
				<a class="nav-link" href="{{path('app_home')}}">
					<i class="fa-solid fa-house"></i>
				</a>
				<a class="nav-link" href="{{path('app_create_quizz')}}">
					<i class="fa-solid fa-pen-ruler"></i>
				</a>
			</div>
		</nav>
	</div>
{% endblock %}
