{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!
{% endblock %}

{% block body %}

	<div class="card mx-5">
		<div class="text-center">
			<h1>Liste des Stands</h1>
		</div>
		<div class="block_stand">
			<select class="select select-stand">
				<option selected>Choose...</option>
				{% for stand in stands %}
					<option value={{stand.id}}>{{stand.nom_stand}}</option>
				{% endfor %}
			</select>
		</div>
	</div>
{% endblock %}
{% block navbar %}
	<div class="menu-nav" id="nav">
		<nav class="navbar">
			<div class="navcont container-fluid d-flex justify-content-around">
				<a class="nav-link" href="{{path('app_home')}}">
					<i class="fa-solid fa-house"></i>
				</a>
				<a class="nav-link" href="{{path('app_create')}}">
					<i class="fa-solid fa-pen-ruler"></i>
				</a>
			</div>
		</nav>
	</div>
  
// partie quentin qr code stand
<div class="example-wrapper">
    <h1>Symfony QR-Code ✅</h1> <hr>

    <div class="row">
        <div class="col-md-6">
            {{ form_start(form) }}
                {{ form_row(form.nomstand, {'attr': {'class': 'form-control', 'placeholder': 'Recherche'}}) }}
                <hr>
                <button type="submit" class="btn btn-success btn-block">Recherche</button>
            {{ form_end(form) }}
        </div>
        <div class="col-md-6">
            {% if qrCode %}
                <img src="{{ qrCode }}" alt="qr-code">
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}

