{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!
{% endblock %}
{% block body %}
	<div class="card mx-5">
		<div class="text-center">
			<h1 class="mt-5">Liste des Stands</h1>
		</div>
		<div class="block_stand my-5">
			<div class="table" id="tableli">
				<ul>
					{% for stand in stands %}
						<li>
							<div class="d-flex justify-content-between w-100 mx-5">
								<div class="nom">{{stand.nomstand}}</div>
								<div class="score">
									<a href="{{path('app_invoice', {id:stand.id})}}">
										<i class="fa-solid fa-download"></i>
									</a>
									<a href="{{path('app_modif', {id:stand.id})}}">
										<i class="fa-solid fa-eye"></i>
									</a>
								</div>
							</div>
						</li>
					{% endfor %}
				</ul>
			</div>
		</div>
		<div class="d-flex justify-content-center pagination">{{ knp_pagination_render(stands)}}</div>
	</div>
{% endblock %}
{% block navbar %}

	<nav>
				<div class="nav-box">
					<ul class="nav-container">
						{% if is_granted('ROLE_ADMIN') %}
							<li class="nav__item">
								<a href="{{path('app_quizz')}}" class="nav__item-link">
									<div class="nav__item-icon">
										<i class="fa-regular fa-rectangle-list"></i>
									</div>
									<span class="nav__item-text">Questions</span>
								</a>
							</li>
							<li class="nav__item active">
								<a href="{{path('app_home')}}" class="nav__item-link">
								
									<button class="nav__item-icon" type="submit">
										<i class="fa-solid fa-store"></i>
									</button>
									<span class="nav__item-text">Accueil</span>
								</a>
							</li>
						
							<li class="nav__item active">
								<a href="{{path('app_create')}}" class="nav__item-link">
								
									<button class="nav__item-icon" type="submit">
										<i class="fa-solid fa-pen-ruler"></i>
									</button>
									<span class="nav__item-text">Créer</span>
								</a>
							</li>
							{% endif %}
					</ul>
				</div>
			</nav>
{% endblock %}
