<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<meta name="description" content="{% block description %}Bienvenue sur le site de coworking !{% endblock %}"/>
		<link rel="shortcut icon" href="{{ asset('images/shortcut.png') }}" type="image/png">


		<meta name="theme-color" content="#ffffff">
		<meta charset="UTF-8">
		<title>
			{% block title %}Gaming Reims
			{% endblock %}
		</title>

		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		{% block stylesheets %}
			{{ encore_entry_link_tags('style/app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<body>
		<div class="toast">

			<div class="toast-content">
				<i class="fas fa-solid fa-check check"></i>

				<div class="message">
					<span class="text text-1">Success</span>
					<span class="text text-2">Message ici</span>
				</div>
			</div>
			<i class="fa-solid fa-xmark close"></i>

			<div class="progress active"></div>
		</div>
		<div id="main">

			{% block header %}

				<div class="contain_logo d-flex justify-content-center">
					<img id="logo_GR" src="{{asset('build/img/logo_GR.png')}}" alt="logo Gaming Reims">
				</div>
			{% endblock %}
			{% block body %}{% endblock %}
		</div>
		{% block navbar %}
			<nav>
				<div class="nav-box">
					<ul class="nav-container">
						{% if is_granted('ROLE_ADMIN') %}
							<li class="nav__item">
								<a href="{{path('app_home')}}" class="nav__item-link">
									<div class="nav__item-icon">
										<i class="fa-solid fa-house"></i>
									</div>
									<span class="nav__item-text">Accueil</span>
								</a>
							</li>
							<li class="nav__item active">
								<a href="{{path('app_admin')}}" class="nav__item-link">
									<div class="nav__item-icon">
										<i class="fa-solid fa-gear"></i>
									</div>
									<span class="nav__item-text">Administration</span>
								</a>
							</li>
						{% else %}
							<li class="nav__item">
								<a href="{# {{path('quizz_home')}} #}" class="nav__item-link">
									<div class="nav__item-icon">
										<i class="fa-regular fa-rectangle-list"></i>
									</div>
									<span class="nav__item-text">Questions</span>
								</a>
							</li>
							<li class="nav__item active">
								<a href="{{path('app_home')}}" class="nav__item-link">
									<div class="nav__item-icon">
										<i class="fa-solid fa-house"></i>
									</div>
									<span class="nav__item-text">Accueil</span>
								</a>
							</li>
							<li class="nav__item">
								<a href="{{path('ranked_home')}}" class="nav__item-link">
									<div class="nav__item-icon">
										<i class="fa-solid fa-ranking-star"></i>
									</div>
									<span class="nav__item-text">Classements</span>
								</a>
							</li>
						{% endif %}
					</ul>
				</div>
			</nav>
		{% endblock %}
	</body>
</html>
